.App .container {
  margin-top: 50px;
}
.App .card {
  margin: 0 auto;
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.5);
}

.App h1 {
  color: #663399;
  font-weight: 700;
  margin-bottom: 19px;
  margin-top: 10px;
  text-decoration: underline;
  text-underline-offset: 7px;
}

@media (max-width: 600px) {
  .App h1 {
    font-size: 30px;
    text-align: center;
    text-underline-offset: 4px;
  }
}
