.CurrentWeather small {
  font-size: 18px;
  font-weight: bold;
}

.CurrentWeather .info {
  color: rgb(61, 60, 60);
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 15px;
}

.CurrentWeather .currentTemp {
  color: #663399;
  font-size: 70px;
  font-weight: 700;
  margin: 0 0 30px 5px;
  padding: 0;
  vertical-align: text-top;
}

.CurrentWeather .details {
  color: rgb(61, 60, 60);
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
}

.CurrentWeather .display-city {
  font-size: 40px;
}

.CurrentWeather .weather-description {
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .CurrentWeather .col-8 {
    margin-bottom: 20px;
  }
  .CurrentWeather .info {
    font-size: 20px;
  }
  .CurrentWeather .currentTemp {
    font-size: 50px;
  }
  .CurrentWeather .details {
    font-size: 12px;
  }
}
