#open-source {
  background-color: #d3dbdc;
  border-radius: 4px;
  margin: 0 auto;
  max-width: 40%;
  text-align: center;
}

#open-source a {
  color: teal;
}

#open-source a:hover {
  color: #663399;
}
@media (max-width: 600px) {
  #open-source {
    max-width: 100%;
  }
}
