.ForecastDay .forecast-day {
  color: rgb(61, 60, 60);
  font-weight: bold;
  margin-bottom: 8px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.ForecastDay .forecast-temp-max {
  color: #663399;
  font-weight: bold;
}
.ForecastDay .forecast-temp-min {
  color: #663399;
  font-weight: bold;
  margin-left: 5px;
  opacity: 0.6;
}
