.form-control {
  margin-bottom: 0;
}
.btn-search {
  background: teal;
  border: teal;
  color: white;
  width: 100%;
}
.btn-search:hover {
  background: #62baac;
  border: #62baac;
  color: white;
}
.btn-current {
  background: #663399;
  border: #663399;
  color: white;
  width: 100%;
}
.btn-current:hover {
  background: #cf92ff;
  border: #cf92ff;
  color: white;
}

@media (max-width: 600px) {
  .btn {
    margin-bottom: 6px;
  }
}
