.Form .form-control {
  margin-bottom: 0;
}
.Form .btn-search {
  background: teal;
  border: teal;
  color: white;
  width: 100%;
}
.Form .btn-search:hover {
  background: #62baac;
  border: #62baac;
  color: white;
}
.Form .btn-current {
  background: #663399;
  border: #663399;
  color: white;
  width: 100%;
}
.Form .btn-current:hover {
  background: #cf92ff;
  border: #cf92ff;
  color: white;
}

@media (max-width: 600px) {
  .Form .btn-search,
  .Form .btn-current {
    margin-top: 6px;
  }
}
